<!doctype html>
<html lang="en">

<body>
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-lg-8">
                        <div class="iq-edit-list-data">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                    <div class="iq-card">
                                        <div class="iq-card-header d-flex justify-content-between">
                                            <div class="iq-header-title">
                                                <h4 class="card-title">Edit Review </h4>

                                            </div>
                                        </div>
                                        <div class="iq-card-body">
                                            <form>

                                                <div class=" row ">

                                                    <div class="col-6 form-group">
                                                        <label for="fname">Title:</label>
                                                        <input #revT type="text" class="form-control"
                                                            [(ngModel)]="rev.reviewTitle"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>

                                                    <div class="col-2 form-group">
                                                        <label for="uname">Rating: </label>
                                                        <i class="lar la-star mr-2"></i> <input #revR type="text"
                                                            class="form-control" [(ngModel)]="rev.rating"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>

                                                    <div class="col-6 form-group">
                                                        <label for="lname">Content: </label>
                                                        <input #revC type="text" class="form-control"
                                                            [(ngModel)]="rev.reviewContent"
                                                            [ngModelOptions]="{standalone: true}">

                                                    </div>

                                                </div>

                                                <div style="display: flex; justify-content: space-between;">
                                                    <div>
                                                        <button (click)="alert()"
                                                            (click)="updateReview(revT.value, revC.value, revR.value)"
                                                            type="submit" class="btn btn-primary mr-2">Submit</button>
                                                        <button type="reset" class="btn btn-danger">Clear</button>

                                                    </div>

                                                    <div>
                                                        <button routerLink="/reviews" style="margin:5px;" type="submit"
                                                            class="btn btn-primary">Back</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>