<div class="wrapper">
  <div id="content-page" class="content-page">
    <div class="container-fluid">

      <app-small-boxes></app-small-boxes>

      <!-- //------------------------------------------------------------------------------- -->

      <div class="row">
        <div class="col-sm-12">
          <div class="iq-card">

           
            <app-top-rated></app-top-rated>
            
            <!-- //------------------------------------------------------------------------------- -->

            <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                <h4 class="card-title">Latest Reviews</h4>
              </div>
            </div>

            <div class="iq-card-body">
              <div class="table-responsive">
                <table class=" table movie_table" style="width:100%">

                  <thead>
                    <tr>
                      <th style="width:10%;">User-Name</th>
                      <th style="width:10%;">Movie</th>
                      <th style="width:10%;">Title</th>
                      <th style="width:20%;">Contet</th>
                      <th style="width:10%;">Rating</th>
                      <th style="width:10%;">Last-Update</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let reviews of reviews">
                      <td>{{reviews.user.username}}</td>
                      <td>{{reviews.movie.title}}</td>
                      <td>{{reviews.reviewTitle}}</td>
                      <td>{{reviews.reviewContent}}</td>
                      <td> <i class="lar la-star mr-2"></i> {{reviews.rating}}</td>
                      <td>{{reviews.lastUpdated | date:'dd/MM/yyyy'}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>